<md-dialog >
    <md-toolbar id="formHead">
        <div class="md-toolbar-tools">
            <h2>Review Form</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content id="formBody">
        <div id="formBody">
        <label>Show Attended:  </label><input type="text" ng-model="show"><br/><br/>
        <label>Date:  </label><input type="date" ng-model="date"><br/><br/>
        <label>Staff Friendliest:  </label><uib-rating id="stars" ng-model="rate" max="max"  on-hover="hoveringStaff(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating><br/><br/>
        <label>Sound Quality: </label><uib-rating id="stars" ng-model="rate2" max="max"  on-hover="hoveringSound(value)" on-leave="overSound = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating><br/><br/>
        <label>Favorite Drink/Cocktail:  </label><input type="text" ng-model="drink"><br/><br/>
        <label>Nearby Bar/Food Recommendations: </label><input type="text" ng-model="nearby"><br/><br/>
        <label>Best Parking Spot: </label><input type="text" ng-model="parking"><br/><br/>
            <label>Venue Rating:  </label><uib-rating id="stars" ng-model="rate1" max="max"  on-hover="hoveringVenue(value)" on-leave="overVenue = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating><br/><br/>
        <label>Comments: </label><input type="textarea" ng-model="comments"><br/><br/>



        <md-button class="md-raised md-primary" ng-click="sendReview()">Primary</md-button>
            </div>
    </md-dialog-content>

</md-dialog>
