<h1>Venue Name</h1>

<button class="getForm">Add Review</button>

<!--<label>Show Attended: </label><input type="text" ng-model="name"><br/>-->
<!--<label>Date: </label><input type="date" ng-model="date"><br/>-->
<!--<label></label>-->


<table cellpadding="0" cellspacing="0" width="133" bgcolor=#FFFFFF><tr><td><iframe src="http://www.ratingcode.com/show.php?id=144595974092&st=3&bg=FFFFFF" border="0" width="115" height="37" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" bgcolor=FFFFFF></iframe></td><td width="18" align="center" valign="top" style="padding-top:5px"><a href="http://www.ratingcode.com" target="_blank"><img src="http://www.ratingcode.com/images/info.png" border="0" alt="Free Rating Code" title="Free Rating Code"></a></td></tr></table>



<div class="stars">
    <form action="">

        <input class="star star-5" id="star-5" type="radio" name="star"/>

        <label class="star star-5" for="star-5"></label>

        <input class="star star-4" id="star-4" type="radio" name="star"/>

        <label class="star star-4" for="star-4"></label>

        <input class="star star-3" id="star-3" type="radio" name="star"/>

        <label class="star star-3" for="star-3"></label>

        <input class="star star-2" id="star-2" type="radio" name="star"/>

        <label class="star star-2" for="star-2"></label>

        <input class="star star-1" id="star-1" type="radio" name="star"/>

        <label class="star star-1" for="star-1"></label>

    </form>

</div>
//works
<!--<div ng-controller="VenueController">-->
<!--<md-toolbar layout="row">-->
    <!--<h1>Simple Dialog</h1>-->
<!--</md-toolbar>-->
<!--<div layout="row" flex>-->
    <!--<div layout="column" flex id="content">-->
        <!--<md-content layout="column" flex class="md-padding">-->
            <!--<md-button class="md-primary" ng-click="showDialog($event)">Launch Dialog</md-button>-->
        <!--</md-content>-->
    <!--</div>-->
<!--</div>-->
</div>